.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: normal bold 14px;
  border: none;
  border-radius: 41px;
  background-color: #01f0d0;
  opacity: 1;
  color: 072635;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #01f0d0;
  opacity: 1;
  transform: scale(1.05);
}

.button:active {
  background-color: #004085;
  transform: scale(0.95);
}
