.header {
  display: flex;
  width: 250px;
  padding-top: 10px;
  padding-left: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-right: 5px;
}

.searchcontainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.searchicon {
  position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
